# App loads this file automatically (see lib/env.js)
BREVO_SMTP_USER=ac1d3b001@smtp-brevo.com
BREVO_SMTP_PASS=xsmtpsib-4418e1130d26c57595b0575c1e407d5fd2c44ec235e80ea2b579b4b5c5cc2764-IpLeSZUtXJO6hxc8
BREVO_SENDER_EMAIL=hello@cyfernode.com
BREVO_SENDER_NAME=Cyfernode
SITE_URL=https://cyfernode.com
BANNER_IMAGE_URL=https://i.ibb.co/Lzsh2Rth/banner-email-cyfernode.jpg
